* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #353535;
}

header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  background-color: #2a2b2a;
}

header h1 {
  color: white;
  font-size: 2em;
  margin-left: 30px;
}

main {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2a2b2a;
  border-radius: 15px;

  width: 95%;
  height: 15vh;
  margin-bottom: 20px;
}

#tela {
  background-color: #fff;
  cursor: crosshair;
}

.brushContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.colorArea {
  display: flex;
}

.colorTitle h1,
.toolsTitle h1,
.sizeTittle {
  color: #2a2b2a;
  text-transform: uppercase;
  text-align: center;

  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.colorTitle h1,
.toolsTitle h1 {
  padding: 5px 40px 5px 40px;
  border-radius: 30px;
}

.sizeTittle {
  margin-left: 35px;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
}

.color {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.418);
}
.color.active {
  border: 2px solid #fff;
}

.tools {
  margin-left: 40px;
  margin-right: 40px;
}

.tool {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  margin-right: 5px;
  border: 2px solid #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60%;
}

#brush {
  background-image: url(/assets/img/color-pencil.png);
}

#bucket {
  background-image: url(/assets/img/paint-bucket.png);
}

#eraser {
  background-image: url(/assets/img/eraser-tool.png);
}

.activeTool {
  border: 2px solid #000000;
}

.toolsContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toolsIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfcfcf;
  border-radius: 20px;
  width: 180px;
  height: 60px;
}

.bottomControls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.sizeControls {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 120px;
  border-radius: 15px;
  background-color: #2a2b2a;
}

.brushSizeControls,
.eraserSizeControls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.eraserSizeControls {
  margin-left: 25px;
}

.size p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a2b2a;
  text-transform: uppercase;
  text-align: center;

  font-size: 0.9em;
  margin-right: 5px;
  font-weight: 500;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.btn {
  border: 0;
  background-color: #272727;
  color: #ffffff;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
}

.btn:nth-child(1) {
  margin-right: 10px;
}

footer {
  color: white;
  font-size: 1em;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  color: white;
}

.waves {
  background: #3586ff;
  overflow: hidden;
}
.waves .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}
.waves .air.air1 {
  animation: wave 40s linear infinite;
  z-index: 1000;
  opacity: 0.2;
  animation-delay: 0s;
  bottom: 0;
}
.waves .air.air2 {
  animation: wave2 30s linear infinite;
  z-index: 999;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 10px;
}
.waves .air.air3 {
  animation: wave 25s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.waves .air.air4 {
  animation: wave2 20s linear infinite;
  z-index: 997;
  opacity: 0.2;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}
